body {
  font-family: Arial, sans-serif;
  background: #f2f6ff;
  padding: 20px;
}

.app {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 15px;
  border-radius: 10px;
}

textarea {
  width: 100%;
  height: 80px;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
}

li {
  margin-top: 8px;
}
